<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="../static/styles.css"/> <!-- Corrected stylesheet link -->
</head>
<body>
    <h1>Scan Keycard or Key fob</h1>
    <div class="login-box">
        <img src="../static/scan-icon.png" alt="Scan Icon" class="scan-icon">
        <p>Please scan your keycard or key fob to login and view the diagram.</p>
    </div>
</body>
</html>